body {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
  }
  .container {
    height: 100vh;
    width: 100%;

    background-image: url("darkbg.jpg");
    background-size: cover;
    background-position: center;
  }
  .header {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 80px;
  }
  .logo {
    margin: 0px 40px;
    float: left;
    font-size: 22px;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .nav {
    float: right;
    margin: 35px 60px;
    font-size: 15px;
  }
  a:hover {
    color: red;
    background-color:whitesmoke;
  }
  .menu {
    margin: 10px;
  }
  #raj {
    color: red;
  }
  
  .content {
    margin: 10px 40px;
    text-align: center;
  }
  p {
    color: grey;
  }
  #description {
    margin-top: 50px;
    margin-bottom: 280px;
    padding: 2px;
  }
  h1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  h3 {
    margin-top: 100px;
  }

  .name_color {
    color: red;
  }
  #interest {
    text-align: center;
    margin: 50px 0px;
  }

  .icon {
    margin: 10px 30px;
    background-color: #dbdada;
  }
  #text1 {
    margin: 4px 67px 4px 14px;
  }

  #text2 {
    margin: 4px 59px 4px 103px;
  }

  #text3 {
    margin: 4px -6px 4px 107px;
  }
  .aboutme {
    text-align: center;
    margin: 10px 0px;
  }
  .container2 {
    background-image: url("darkbg.jpg");
    background-size: cover;
    background-position: center;
    margin-top:-42px;
  }
  .container3{
    background-image: url("darkbg.jpg");
    background-size: cover;
    background-position: center;

  }
  h2{margin: 30px 0px;  }
  #about {
    font-size:15px;
  }
  .contact {
    margin-left :380px;
    text-align: center;
    border: 2px solid white;
    width: 500px;
    height: 250px;

  }
  #symbol1 {
    padding-top: 4px;
    margin-right: 220px;
  }
  #symbol2 {
    padding-top: 4px;
    margin-right: 175px;
  }
  #symbol3 {
    padding-top: 4px;
    margin-right: 120px;
  }
